/* PAGINA DEL HEADER */
header{
    background-color: black;
    width: 100%;
    height: 100% ;
    margin-top: 0px ;
    display: grid;
                  nav{
                      div{
                        a{
                            text-decoration: none;
                            color: white;
                        }
                        .logo{
                        float: left;
                        height: 3rem;
                        margin-left: 0px;}
                        .logo_2{
                        height: 2rem;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    
                    .nav-link 
                    {color: red ;
                    font-size: 1.8em;}
                    .navbar-brand{
                        font-size: 2em;
                        color: white;
                    }
                    .nav-link:hover{
                        color:rgb(86, 200, 235)
                        
                    }
                    .navbar-brand:hover{
                        color:rgb(255, 255, 255)
                        
                    }

                      }
                  }
    }

/*BUTON DE LAS LOS HEADER Y FOOTER*/
    button {
        position: relative;
        padding: 10px 20px;
        border-radius: 7px;
        border: 1px solid rgb(61, 106, 255);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: transparent;
        color: white;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;    
                          &:hover {
            background: rgb(61, 106, 255);
            box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
                                  &:hover::before {
                                  -webkit-animation: sh02 0.5s 0s linear;
                                  -moz-animation: sh02 0.5s 0s linear;
                                   animation: sh02 0.5s 0s linear;
                                                             &::before {
                                    content: '';
                                    display: block;
                                    width: 0px;
                                    height: 86%;
                                    position: absolute;
                                    top: 7%;
                                    left: 0%;
                                    opacity: 0;
                                    background: #fff;
                                    box-shadow: 0 0 50px 30px #fff;
                                    -webkit-transform: skewX(-20deg);
                                    -moz-transform: skewX(-20deg);
                                    -ms-transform: skewX(-20deg);
                                    -o-transform: skewX(-20deg);
                                    transform: skewX(-20deg);
                                                          &:active {
                                                            box-shadow: 0 0 0 0 transparent;
                                                            -webkit-transition: box-shadow 0.2s ease-in;
                                                            -moz-transition: box-shadow 0.2s ease-in;
                                                            transition: box-shadow 0.2s ease-in;
                                                                                              
                                                          }
                                  }
                                   
              }
          }
          @keyframes sh02 {
            from {
              opacity: 0;
              left: 0%;
            }
          
            50% {
              opacity: 1;
            }
          
            to {
              opacity: 0;
              left: 100%;
            }
      }
      
   }


   